<!DOCTYPE html>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}" />

<html>

<head>
    <title> Organizer | {{ page_name }} </title>
</head>

<body>
    <!-- Top Navigation Bar -->
    <div id="top-nav">
        <ul id="top-nav-left">
            <li class="top-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="top-item"><a href="{% url 'questions' %}">Questions</a></li>
            <li class="top-item"><a href="{% url 'create' %}">Create</a></li>
            <li class="top-item"><a href="{% url 'stats' %}">Stats</a></li>
        </ul>

        <ul id="top-nav-right">
            <li class="top-item"><input id="search-bar" type="text" placeholder="Search"></li>
        </ul>
    </div>

    <!-- Content -->
    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>