{% extends "base.html" %}

{% block content %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/create.css' %}" />

<form id="question-form" method="post" action={% url 'create' %}> {% csrf_token %}
  <div id="question-form">
    <h1>Question</h1>
    {{ question_form.text }}
  </div>

  <h1>Resource <button class="add-form-button" type="button" onclick="addForm('resource')">+</button></h1>
  {{ resource_formset.management_form }}
  <div class="formset" id="resource-formset"></div>
  <div class="card" id="empty-resource-form" style="display:none">
    {% for field in resource_formset.empty_form %}
      {{ field }}
    {% endfor %}
  </div>

  <h1>Random <button class="add-form-button" type="button" onclick="addForm('random')">+</button></h1>
  {{ random_formset.management_form }}
  <div class="formset" id="random-formset"></div>
  <div class="card" id="empty-random-form" style="display:none">
    {% for field in random_formset.empty_form %}
      {{ field }}
    {% endfor %}
  </div>

  <h1>Thought <button class="add-form-button" type="button" onclick="addForm('thought')">+</button></h1>
  {{ thought_formset.management_form }}
  <div class="formset" id="thought-formset"></div>
  <div class="card" id="empty-thought-form" style="display:none">
    {% for field in thought_formset.empty_form %}
      {{ field }}
    {% endfor %}
  </div>

  <h1>Answer <button class="add-form-button" type="button" onclick="addForm('answer')">+</button></h1>
  {{ answer_formset.management_form }}
  <div class="formset" id="answer-formset"></div>
  <div class="card" id="empty-answer-form" style="display:none">
    {% for field in answer_formset.empty_form %}
      {{ field }}
    {% endfor %}
  </div>

  <button type="submit">Submit</button>
</form>

{% endblock content %}