{% extends "base.html" %}
{% load static %}
{% load template_tags %}

{% block content %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/question.css' %}">

  <!-- Question Header -->
  <h1 id="question-header">" {{ question.question|capfirst }} "</h1>

  <!-- Linked Objects -->
  <div id="linked-objects-lists">
    <div class="object-list-container" id="topics-list">
      <h2 class="object-title">Topics</h2>
      <ul class="object-list">
        <li class="topic">One</li>
        <li class="topic">Two</li>
        <li class="topic">Three</li>
      </ul>
    </div>
    <div class="object-list-container" id="books-list">
      <h2 class="object-title">Books</h2>
      <ul class="object-list">
        <li class="book">One</li>
        <li class="book">Two</li>
        <li class="book">Three</li>
      </ul>
    </div>
    <div class="object-list-container" id="facts-list">
      <h2 class="object-title">Facts</h2>
      <ul class="object-list">
        <li class="fact">One</li>
        <li class="fact">Two</li>
        <li class="fact">Three</li>
      </ul>
    </div>
  </div>

  <!-- Text Input Form -->
  <form id="text-editor-form" method="post" action="{% url 'question' question_id=question.id%}"> {% csrf_token %}
    <select name="form-type" id="obj-picker-button" onchange="outlineQuestionObject(this.value)">
      <option value="none">Choose Form Type</option>
      <option value="resource" {% if form_type == "resource" %} selected {% endif %}>Resource</option>
      <option value="thought" {% if form_type == "thought" %} selected {% endif %}>Thought</option>
      <option value="answer" {% if form_type == "answer" %} selected {% endif %}>Answer</option>
    </select>
    <div id="error-message">{{ error_message }}</div>
    <textarea name="text-input" id="text-editor" placeholder="Create or edit resources, thoughts, or answers here..." required>{{ form_text }}</textarea>
    <input type="hidden" name="edit-object-id" id="edit-object-id">
    <button type="submit">Submit</button>
  </form>

  <!-- History -->
  <div id="history">
    <button type="button" id="history-expand-all" onclick="expandAllHistory()">Expand All</button>
    <select id="history-order-button">
        <option value="Date">Date</option>
        <option value="Type">Type</option>
        <option value="Ranking">Ranking</option>
    </select>
    <ul id="history-list">
      {% for obj in question.get_all_connected_objects %}
        <li class="history-item">
          <div class="history-information">
            <div>{{ obj.created_at_utc|date:"M j, Y g:i a" }}</div>
            <div>{{ obj.get_class_name|capfirst }}</div>
            {% autoescape off %}
            <div>{{ obj.summary|markdown_to_html }}</div>
            <div class="expanded-history-item" id="expanded-history-item-{{ obj.get_class_name }}-{{ obj.id }}">
              {% if obj.get_class_name == "resource" %}
                {{ obj.resource|markdown_to_html }}
                {{ obj.notes|markdown_to_html }}

              {% elif obj.get_class_name == "thought" %}
                {{ obj.thought|markdown_to_html }}

              {% elif obj.get_class_name == "answer" %}
                {{ obj.answer|markdown_to_html }}
              {% endif %}
            </div>
            {% endautoescape %}
          </div>
          <div class="history-buttons">
            <button class="history-button history-expand-button" onclick="expandHistoryItem(this, 'expanded-history-item-{{ obj.get_class_name }}-{{ obj.id }}')">expand</button>
            <button class="history-button" onclick="editHistoryItem('{{ obj.get_class_name }}', '{{ obj.id }}', '{{ obj.create_form|escapejs }}')">edit</button>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <script src="{% static 'js/question.js' %}"></script>
{% endblock content %}
