html, body {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
}

#top-nav {
  background: #2c2c2c;
  padding: 0.5em 0 0 0;
  color: #b9b9b9;
  display: block;
}

#top-nav-top {
  height: 50%;
}

#top-nav-bottom {
  height: 50%;
}

#page_type {
  margin: 0 0 0 2em;
}

#nav-items {
  list-style: none;
  display: inline-flex;
  margin: 0 0 0 4em;
}

.nav-item {
  padding: 0.5em 1em 0.4em 1em;
  border-right: 1px solid black;
  margin-top: 0.4em;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
}

.nav-item:hover {
  background: rgba(89, 89, 89, 0.303);
  color: white;
}

#status-bar {
  background: #007acc;
  color: white;
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0%;
}

#status-list {
  padding-left: 0.3em;
  list-style: none;
  display: inline-flex;
  margin: 0;
}

.status-item {
  padding: 0.2em 0.8em 0.2em 0em;
  font-size: 0.8em;
}

.status-count {
  font-weight: bold;
}