.question {
    list-style: none;
    display: inline;
    margin: 3em 1em;
}

.question_date {
    width: 100px;
    float: left;
}

.question_text {
    margin-left: 100px;
}

.question_objects_count {
    margin-left: 100px;
    font-size: 12px;
}

.question_bottom {
    display: none;
}
