.question {
    list-style: none;
    display: inline;
}

.question-date {
    width: 100px;
    float: left;
}

.question-text {
    margin-left: 100px;
}

.question-objects-count {
    font-size: 12px;
}

.question-top {
    cursor: pointer;
    display: table;
    padding: 1em 7em 1em 2em;
}

.question-bottom {
    display: none;
    margin: 0 0 1em 5em;
}

.question-object {
    margin-left: 100px;
}
