#question-header {
  text-align: center;
}

#linked-objects-lists {
  display: flex;
  text-align: center;
}

.object-list-container {
  flex: 33%;
}

.object-list {
  list-style: none;
  padding: 0;
}

#history {
  margin: 3em 0 7em 0;
}

#history-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.history-item {
  padding: 0.5em 0 0.5em 3em;
  cursor: pointer;
  margin-bottom: 1em;
}

.history-item:hover {
  background-color: rgba(0,0,0,.1);
}

.expanded-history-item {
  display: none;
}

.expanded-history-item.open {
  display: block;
  padding-bottom: 1em;
  border-bottom: 0.5px solid lightgray;
}
